.accordion-title {
  display: flex;
  justify-content: space-between;
  background-color: #034590;
  color: rgb(254, 253, 253);
  width: 100%;
  padding: 5px;
}

.accordion-fake-title {
  display: flex;
  color: rgb(254, 253, 253);
  width: 100%;
  align-items: center;
}
.accordion-item {
  width: 100%;
  background-color: #126ed8;
  color: white;
}

.odd{
  background-color: #126ed8;
}

.complete {
  background-color: green;
}