body {
  background-color: rgb(66, 66, 66);
  color: aliceblue;
  display: flex;
  justify-content: center;
}

#app {
  padding: 7px;
  width: 95vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#leg-feed {
  width: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  margin: 7px;
}

label {
  padding: 10px;
}

input {
  margin: 10px;
}

p {
  background-color: rgb(255, 132, 0);
  color: black;
}

a {
  color: blue;
}
/* .flipswitch {
  position: relative;
  width: 150px;
  margin-bottom: 10px;
}

.flipswitch input[type=checkbox] {
  display: none;
}

.flipswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #999999;
  border-radius: 50px;
}

.flipswitch-inner {
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}

.flipswitch-inner:before, .flipswitch-inner:after {
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 20px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}

.flipswitch-inner:before {
  content: "Eastern";
  padding-left: 18px;
  background-color: #437A99;
  color: #FFFFFF;
}

.flipswitch-inner:after {
  content: "Pacific";
  padding-right: 18px;
  background-color: #FFFFFF;
  color: #437A99;
  text-align: right;
}

.flipswitch-switch {
  width: 35px;
  margin: -2.5px;
  background: #FFFFFF;
  border: 1px solid #999999;
  border-radius: 50px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 67px;
  transition: all 0.3s ease-in 0s;
}

.flipswitch-cb:checked + .flipswitch-label .flipswitch-inner {
  margin-left: 0;
}

.flipswitch-cb:checked + .flipswitch-label .flipswitch-switch {
  right: 0;
} */


@media screen and (min-width: 800px) {
  #app {
    width: 75vw;
  }
  /* #app {
    max-width: 700px;
  }
  #leg-feed {
    max-width: 1000px;
  } */
}

@media screen and (min-width: 1200px) {
  #app {
    width: 65vw;
  }
}

@media screen and (min-width: 1700px) {
  #app {
    width: 55vw;
  }
}